.home{
    margin-top: 1rem;
}

.head{
    justify-content: space-between;
    display: flex;
    >input{
        border: 2px solid #ccc; 
        border-radius: 4px; 
        margin-left: 2rem; 

       
    }

    >button{
        background-color: white;
        border: none;
        color: rgb(195, 39, 39);
        margin-right: 2rem;
        cursor: pointer;
        >img{
            height: 20px;
        }
    }

    @media only screen and (max-width: 600px) {
        /* Media query for screens with a maximum width of 600px (adjust as needed) */
        
       

        .foot-right{
            display: flex;
           flex-direction: column;
        }
        
     
        /* Additional styles for mobile screens */
        input {
          width: 40%; /* Make the input take the full width */
          margin-bottom: 10px; /* Add some space between input and button */
        }
    
       
      }
}

.foot{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.foot-right{
    margin-right: 0.5rem;
   

    >span{
        cursor: text;
        margin-right: 2rem;
    }

    >button{
        background-color: white;
        
        border: 2px solid #e9e8e8;
      // box-shadow: rgb(168, 149, 149);
        cursor: pointer;
        margin: 0.4rem;
    }

    @media only screen and (max-width: 600px) {
        /* Media query for screens with a maximum width of 600px (adjust as needed) */
        // display: flex;
        // flex-direction: column;
        // .foot-left,
        // .foot-right {
        //   text-align: center; /* Center the text in both left and right sections */
        // }
    
        // .foot-right {
        //   margin-top: 10px; /* Add some space between left and right sections */
        // }
    
        // button {
        //   width: 30px; /* Adjust the button width as needed */
        //   margin: 0 5px; /* Add some space between buttons */
        // }

        
      }
}

@media only screen and (max-width: 600px) {
   .head{
    display: flex;
   }

   .foot{
        display: flex;
        flex-direction: column;
        text-align: center;
   }

   .foot-right{
    
      >span{
        display: flex;
        margin-left: 45%;
        
      }
   }


}







  